.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-decoration: none;
}

.copyright:hover .copyright__image path {
  fill: #283645;
}

.copyright:active .copyright__image path {
  fill: #283645;
  opacity: 0.3;
}

.copyright__text {
  margin-right: 15px;
  font-family: Open Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;

  &--blue {
    color: #283645;
  }

  @media (min-width: $desktop) {
    font-size: 18px;
  }
}
