.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-decoration: none;

  @media (min-width: $tablet) {
    margin-left: 94px;
  }

  @media (min-width: $desktop) {
    margin-left: 231px;
  }
}

.copyright:hover .copyright__image path {
  fill: $prime-color-blue;
}

.copyright:active .copyright__image path {
  fill: $prime-color-blue;
  opacity: 0.3;
}

.copyright__text {
  margin-right: 15px;
  font-family: $font-primary;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;

  &--blue {
    color: $prime-color-blue;
  }

  @media (min-width: $desktop) {
    font-size: 18px;
  }
}
