.page-body__footer {
  margin-top: auto;
  padding: 40px 0;

  @media (min-width: $tablet) {
    width: 620px;
    margin: 0 auto;
  }

  @media (min-width: $desktop) {
    width: 940px;
    padding: 74px 0;
  }
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media (min-width: $tablet) {
    display: flex;
    flex-direction: row;
  }
}

.footer__link {
  margin: 0 auto 41px;
  display: block;
  text-align: center;

  @media (min-width: $tablet) {
    margin: 0;
    margin-right: 79px;
  }

  @media (min-width: $desktop) {
    margin-right: 243px;
  }
}

.footer__link:hover .footer__logo {
  filter: brightness(0) saturate(100%) invert(35%) sepia(73%) saturate(7406%) hue-rotate(332deg) brightness(88%) contrast(86%);
}

.footer__link:active .footer__logo {
  filter: none;
  opacity: 0.3;
}

.footer__link--active:hover .footer__logo {
  filter: none;
}

.footer__link--active:active .footer__logo {
  filter: none;
  opacity: 1;
}

.footer__logo {
  display: block;
  text-align: center;
}
