.page-body__footer {
  margin-top: auto;
  padding: 40px 0;

  @media (min-width: $tablet) {
    width: 620px;
    margin: 0 auto;
  }

  @media (min-width: $desktop) {
    width: 940px;
    padding: 75px 0;
  }
}

.footer {
  @media (min-width: $tablet) {
    display: flex;
  }
}

.footer__logo {
  margin: 0 auto 41px;
  display: block;
  text-align: center;

  @media (min-width: $tablet) {
    margin: 0;
    margin-right: 79px;
  }

  @media (min-width: $desktop) {
    margin-right: 242px;
  }
}
