.socials {
  margin: 0;
  margin-bottom: 41px;
  padding: 0;
  display: flex;
  justify-content: center;
  list-style-type: none;

  @media (min-width: $tablet) {
    margin-bottom: 0px;
    margin-right: 94px;
  }

  @media (min-width: $desktop) {
    margin-right: 233px;
  }
}

.socials__item {
  &:not(:last-child) {
    margin-right: 14px;
  }

  @media (min-width: $desktop) {
    &:not(:last-child) {
      margin-right: 11px;
    }
  }
}

.socials__link {
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  box-shadow: 0 0 0 3px rgba($color: #283645, $alpha: 0.1);
}
