.gallery {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.photos__gallery {
  width: 280px;
  margin: 0 auto;
}

.gallery__image {
  display: block;
}

.gallery__item {
  &:not(:last-child) {
    margin-bottom: 20px;
  }
}
