.upload__text {
  margin: 0;
  margin-bottom: 42px;
  font-family: $font-primary;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;

  &--blue-text {
    color: $prime-color-blue;
  }

  @media (min-width: $tablet) {
    font-size: 18px;
    margin-bottom: 69px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 66px;
  }
}

.upload__upload-menu {
  width: 100%;
  margin: 0 auto;
  padding: 20px 0 41px;

  @media (min-width: $tablet) {
    padding: 57px calc(50vw - 310px) 55px;
  }

  @media (min-width: $desktop) {
    width: 940px;
    padding: 57px 60px 59px 80px;
  }
}

.upload-menu {
  &--grey {
    background-color: #f2f2f2;
  }

  @media (min-width: $tablet) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 251px 79px 69px;
    column-gap: 45px;
  }

  @media (min-width: $desktop) {
    grid-template-columns: 300px 410px;
    column-gap: 87px;
  }
}

.upload-menu__wrapper {
  margin-bottom: 38px;
  padding-bottom: 35px;

  @media (min-width: $tablet) {
    margin-bottom: 0;
    margin-top: 5px;
    padding-bottom: 0;
  }

  @media (min-width: $desktop) {
    margin-top: -5px;
  }
}

.upload-menu__uploading-image {
  width: 280px;
  height: 374px;
  margin: 0 auto 42px;
  display: block;

  @media (min-width: $tablet) {
    width: 300px;
    height: 400px;
    margin: 0;
  }
}

.upload-menu__wrapper--underline {
  border-bottom: 1px solid rgba($color: $prime-color-blue, $alpha: 0.1);

  @media (min-width: $tablet) {
    border-bottom: none;
  }
}

.upload-menu__filters {
  margin: 0 29px 35px 16px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  list-style-type: none;

  @media (min-width: $tablet) {
    margin: 0;
    flex-direction: column;
    align-items: start;
  }
}

.upload-menu__filter {
  &:not(:last-child) {
    margin-right: 35px;
  }

  @media (min-width: $tablet) {
    display: flex;
    align-items: center;

    &:not(:last-child) {
      margin: 0;
      margin-bottom: 42px;
    }
  }

  @media (min-width: $desktop) {
    &:not(:last-child) {
      margin-bottom: 22px;
    }
  }
}

.upload-menu__filter--underline {
  @media (min-width: $tablet) {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      bottom: -21px;
      width: 275px;
      height: 1px;
      background-color: rgba($color: $prime-color-blue, $alpha: 0.1);
      z-index: 1;
    }
  }

  @media (min-width: $desktop) {
    &::after {
      bottom: -11px;
      width: 410px;
    }
  }
}

.upload-menu__filter--underline:last-child::after {
  @media (min-width: $desktop) {
    content: none;
  }
}

.upload-menu__filter-button--crop {
  width: 44px;
  height: 44px;
  -webkit-mask: url("../img/content/crop.svg") center / 44px no-repeat;
  mask: url("../img/content/crop.svg") center / 44px no-repeat;

  @media (min-width: $tablet) {
    -webkit-mask-size: 22px;
    mask-size: 22px;
  }

  @media (min-width: $desktop) {
    -webkit-mask-size: 44px;
    mask-size: 44px;
  }
}

.upload-menu__filter-button--fill {
  width: 48px;
  height: 43px;
  -webkit-mask: url("../img/content/fill.svg") center / 48px 43px no-repeat;
  mask: url("../img/content/fill.svg") center / 48px 43px no-repeat;

  @media (min-width: $tablet) {
    -webkit-mask-size: 24px 22px;
    mask-size: 24px 22px;
  }

  @media (min-width: $desktop) {
    -webkit-mask-size: 48px 43px;
    mask-size: 48px 43px;
  }
}

.upload-menu__filter-button--contrast {
  width: 32px;
  height: 32px;
  -webkit-mask: url("../img/content/contrast.svg") center / 32px no-repeat;
  mask: url("../img/content/contrast.svg") center / 32px no-repeat;

  @media (min-width: $tablet) {
    background-color: $prime-color-red;
    -webkit-mask-size: 16px;
    mask-size: 16px;
  }

  @media (min-width: $desktop) {
    -webkit-mask-size: 32px;
    mask-size: 32px;
  }
}

.upload-menu__filter-button {
  padding: 0;
  border: none;
  background-color: rgba($color: $prime-color-blue, $alpha: 0.3);

  &:hover {
    background-color: rgba($color: $prime-color-blue, $alpha: 0.5);
  }

  @media (min-width: $tablet) {
    width: 30px;
    height: 30px;
    margin-right: 25px;
    background-color: $prime-color-red;

    &:hover {
      background-color: $prime-color-red;
    }

    &:active {
      background-color: $prime-color-red;
    }
  }

  @media (min-width: $desktop) {
    width: 50px;
    height: 50px;
    margin-right: 45px;
  }
}

.upload-menu__filter-button--active {
  background-color: $prime-color-red;

  &:hover {
    background-color: $prime-color-red;
  }

  &:active {
    background-color: $prime-color-red;
  }
}

.upload-menu__effect-range {
  width: 240px;
  height: 2px;
  margin: 0 auto;
  background-color: $prime-color-blue;
  display: none;
  -webkit-appearance: none;
  appearance: none;

  @media (min-width: $tablet) {
    width: 202px;
  }

  @media (min-width: $desktop) {
    width: 288px;
  }
}

.upload-menu__effect-range--mobile {
  display: block;

  @media (min-width: $tablet) {
    display: none;
  }
}

.upload-menu__effect-range--tablet {
  @media (min-width: $tablet) {
    display: block;
  }
}

.upload-menu__effect-range::-webkit-slider-thumb {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: $white;
  border: 2px solid $prime-color-red;
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;

  &:hover {
    background-color: $prime-color-red;
  }
}

.upload-menu__effect-range::-moz-range-thumb {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: $white;
  border: 2px solid $prime-color-red;
  cursor: pointer;

  &:hover {
    background-color: $prime-color-red;
  }
}

.upload__button {
  width: 280px;
  min-height: 55px;
  margin: 0 auto;
  padding: 0;
  border-radius: 30px;
  background-color: transparent;
  display: block;
  font-family: $font-primary;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  text-align: center;

  &--red-text {
    color: $prime-color-red;
  }

  &--light-text {
    color: rgba($color: $prime-color-blue, $alpha: 0.1);
  }

  @media (min-width: $tablet) {
    width: 260px;
    margin: 0;
    grid-column: 2/3;
  }

  @media (min-width: $desktop) {
    width: 183px;
  }
}

.upload__button--upload {
  margin-bottom: 12px;
  border: 3px solid $prime-color-red;

  &:hover {
    background-color: $prime-color-red;
    color: $white;
  }

  &:active {
    background-color: $prime-color-red;
    color: rgba($color: $white, $alpha: 0.3);
  }

  @media (min-width: $tablet) {
    margin: 0;
    margin-top: 6px;
    align-self: center;
  }

  @media (min-width: $desktop) {
    margin-top: 17px;
    margin-left: 4px;
    grid-row: 3/4;
  }
}

.upload__button--cancel {
  margin-bottom: 0;
  border: 3px solid rgba($color: $prime-color-blue, $alpha: 0.1);

  &:hover {
    color: rgba($color: $prime-color-blue, $alpha: 0.3);
    border: 3px solid rgba($color: $prime-color-blue, $alpha: 0.3);
  }

  &:active {
    background-color: rgba($color: $prime-color-blue, $alpha: 0.3);
    color: rgba($color: $white, $alpha: 0.3);
  }

  @media (min-width: $tablet) {
    margin-top: 15px;
    align-self: center;
  }

  @media (min-width: $desktop) {
    margin-left: auto;
    grid-row: 3/4;
  }
}
