.modal--failure .modal__container {
  width: 320px;
  min-height: 289px;
}

.modal--failure .modal__heading {
  margin: 38px 0 25px;
}

.modal--failure .modal__description {
  margin-bottom: 40px;
}

.modal--failure .modal__button-wrapper--grey-background {
  background-color: transparent;
}
