.modal--success .modal__container {
  width: 320px;
  min-height: 380px;
}

.modal--success .modal__heading {
  margin: 38px 0 25px;
}

.modal--success .modal__description {
  margin-bottom: 34px;
  padding: 0 20px;
}

.modal--success .modal__button-wrapper {
  width: 100%;
  min-height: 163px;
  display: flex;
}
