.modal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  margin: auto;
  display: none;

  &--active {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.modal__container {
  width: 320px;
  height: 380px;

  &--white-background {
    background-color: $white;
  }
}

.modal__heading {
  margin: 11px 0 25px;
  font-family: Open Sans;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;

  &--black-text {
    color: $black;
  }
}

.modal__description {
  margin: 0;
  padding: 0 20px;
  font-family: Open Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;

  &--blue-text {
    color: #283645;
  }
}

.modal__button-wrapper {
  width: 100%;
  min-height: 163px;

  &--grey-background {
    background-color: #F2F2F2;
  }
}

.modal__button {
  width: 280px;
  min-height: 63px;
  margin: auto;
  padding: 0;
  border: none;
  display: block;
  font-family: Open Sans;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-align: center;

  &--green-background {
    background-color: #2AAB6D;
  }
}
