.modal--success .modal__container {
  width: 320px;
  min-height: 380px;

  @media (min-width: $tablet) {
    width: 460px;
    min-height: 432px;
  }

  @media (min-width: $desktop) {
    width: 780px;
    min-height: 377px;
  }
}

.modal--success .modal__heading {
  margin: 38px 0 25px;

  @media (min-width: $tablet) {
    margin: 43px 0 22px;
    padding: 0 35px;
  }

  @media (min-width: $desktop) {
    margin: 40px 0 23px;
    padding: 0;
  }
}

.modal--success .modal__description {
  margin-bottom: 34px;
  padding: 0 20px;

  @media (min-width: $tablet) {
    margin-bottom: 29px;
    padding: 0 65px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 39px;
    padding: 0 155px;
  }
}

.modal--success .modal__button-wrapper {
  width: 100%;
  min-height: 163px;
  display: flex;
}

.modal--success .modal__button {
  @media (min-width: $desktop) {
    width: 456px;
    min-height: 59px;
  }
}
