.modal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  margin: auto;
  display: none;

  &--active {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.modal__container {
  &--white-background {
    background-color: $white;
  }

  &--shadow {
    box-shadow: 0px 0px 15px 0px #00010126;
  }
}

.modal__heading {
  margin: 0;
  font-family: Open Sans;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;

  &--black-text {
    color: $black;
  }

  @media (min-width: $tablet) {
    font-size: 30px;
    line-height: 40px;
  }
}

.modal__description {
  margin: 0;
  font-family: Open Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;

  &--blue-text {
    color: #283645;
  }

  @media (min-width: $tablet) {
    font-size: 18px;
  }
}

.modal__button-wrapper {
  &--grey-background {
    background-color: #F2F2F2;
  }
}

.modal__button {
  width: 280px;
  min-height: 63px;
  margin: auto;
  padding: 0;
  border: none;
  display: block;
  font-family: Open Sans;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-align: center;

  &--green-background {
    background-color: #2AAB6D;
  }

  &--white-text {
    color: $white;
  }

  &--uppercase {
    text-transform: uppercase;
  }

  @media (min-width: $tablet) {
    width: 300px;
  }
}
