.page-body__header {
  position: relative;
  margin-bottom: 18px;

  @media (min-width: $tablet) {
    margin-bottom: 74px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 100px;
  }
}

.header {
  background-color: rgba($color: $black, $alpha: 0.3);

  &--menu-opened {
    background-color: $prime-color;
  }
}

.header__wrapper {
  width: 280px;
  min-height: 73px;
  margin: 0 auto;
  display: flex;
  align-items: center;

  @media (min-width: $tablet) {
    width: 620px;
    min-height: 110px;
  }

  @media (min-width: $desktop) {
    width: 940px;
  }
}

.header__link {
  margin-right: auto;

  @media (min-width: $desktop) {
    margin-right: 175px;
  }
}

.header__logo {
  @media (min-width: $tablet) {
    width: 145px;
    height: 40px;
  }
}

.header__button {
  position: relative;
  width: 50px;
  height: 24px;
  border: none;
  background-color: transparent;

  &::before {
    content: "";
    position: absolute;
    top: 11px;
    right: 0;
    width: 50px;
    height: 4px;
    background-color: $white;
    box-shadow: 0 -10px 0 0 $white, 0 10px 0 0 $white;
  }

  @media (min-width: $desktop) {
    display: none;
  }
}

.header__button--active {
  &::before {
    top: 10px;
    right: -3px;
    width: 29px;
    height: 3px;
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    content: "";
    position: absolute;
    top: 10px;
    right: -3px;
    width: 29px;
    height: 3px;
    background-color: white;
    transform: rotate(-45deg);
    box-shadow: none;
  }
}
