.nav {
  display: none;

  &--opened {
    display: block;
  }

  @media (min-width: $desktop) {
    display: block;
  }
}

.nav__list {
  position: absolute;
  top: 73px;
  right: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;
  z-index: 1;

  @media (min-width: $tablet) {
    top: 110px;
  }
  @media (min-width: $desktop) {
    position: static;
    display: flex;
  }
}

.nav__item {
  background-color: $prime-color;
  text-align: center;
  box-shadow: 0px -1px 0px 0px #000000, 0px 1px 0px 0px #FFFFFF26 inset;

  @media (min-width: $desktop) {
    background-color: transparent;
    box-shadow: none;

    &:not(:last-child) {
      margin-right: 79px;
    }
  }
}

.nav__link {
  min-height: 63px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Open Sans;
  font-size: 18px;
  font-weight: 700;
  line-height: 32px;
  color: $white;
  text-transform: uppercase;
  text-decoration: none;

  @media (min-width: $desktop) {
    text-transform: none;
    line-height: 18px;
    font-weight: 400;
  }
}
