.information__advantages {
  padding-bottom: 318px;
}

.advantages {
  margin: 0;
  padding: 0;
  background-color: #F2F2F2;
  display: flex;
  flex-direction: column;
  list-style-type: none;

  @media (min-width: $tablet) {
    width: 310px;
    margin-left: 50%;
  }
}

.advantages__item {
  &:not(:last-of-type) {
    margin-bottom: 31px;
  }

  @media (min-width: $tablet) {
    &:not(:last-of-type) {
      margin-bottom: 35px;
    }
  }
}

.advantages__termin {
  margin: 0;
  margin-bottom: 11px;
  font-family: Open Sans;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;

  @media (min-width: $tablet) {
    text-align: left;
  }
}

.advantages__description {
  margin: 0;
  padding: 0 21px;
  font-family: Open Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;

  @media (min-width: $tablet) {
    padding: 0;
    text-align: left;
  }
}
