.advantages {
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  list-style-type: none;

  @media (min-width: $desktop) {
    background-color: transparent;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 18px;
  }
}

.information__advantages {
  padding-bottom: 318px;

  @media (min-width: $tablet) {
    width: 310px;
    margin-left: 50%;
    padding: 0;
  }

  @media (min-width: $desktop) {
    width: 940px;
    margin: 0 auto;
  }
}

.advantages__item {
  &:not(:last-child) {
    margin-bottom: 31px;
  }

  @media (min-width: $tablet) {
    &:not(:last-child) {
      margin-bottom: 35px;
    }
  }

  @media (min-width: $desktop) {
    padding-top: 310px;

    &:not(:last-child) {
      margin: 0;
    }
  }
}

.advantages__item--phone-background {
  @media (min-width: $desktop) {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: -47px;
      width: 186px;
      height: 301px;
    }
  }
}

.advantages__item--shadow {
  @media (min-width: $desktop) {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: 248px;
      width: 300px;
      height: 6px;
      background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, #000000 49.8%, rgba(0, 0, 0, 0) 93.23%);
      z-index: -1;
      opacity: 0.3;
    }
  }
}

.advantages__item--mood {
  @media (min-width: $desktop) {
    &::before {
      left: 54px;
      background: url("../../../img/decorative/screen-mood-desktop.jpg") 8px 40px no-repeat, url("../../../img/decorative/phone-background-desktop.png") no-repeat;
    }

    @media (min-resolution: 2dppx) {
      &::before {
        background: url("../../../img/decorative/screen-mood-desktop@2x.jpg") 8px 40px/169px 298px no-repeat, url("../../../img/decorative/phone-background-desktop@2x.png") 0 0 / 186px 382px no-repeat;
      }
    }
  }
}

.advantages__item--changes {
  @media (min-width: $desktop) {
    &::before {
      left: 58px;
      background: url("../../../img/decorative/screen-changes-desktop.jpg") 8px 40px no-repeat, url("../../../img/decorative/phone-background-desktop.png") no-repeat;
    }

    @media (min-resolution: 2dppx) {
      &::before {
        background: url("../../../img/decorative/screen-changes-desktop@2x.jpg") 8px 40px/169px 298px no-repeat, url("../../../img/decorative/phone-background-desktop@2x.png") 0 0 / 186px 382px no-repeat;
      }
    }
  }
}

.advantages__item--friends {
  @media (min-width: $desktop) {
    &::before {
      left: 62px;
      background: url("../../../img/decorative/screen-friends-desktop.jpg") 8px 40px no-repeat, url("../../../img/decorative/phone-background-desktop.png") no-repeat;
    }

    @media (min-resolution: 2dppx) {
      &::before {
        background: url("../../../img/decorative/screen-friends-desktop@2x.jpg") 8px 40px/169px 298px no-repeat, url("../../../img/decorative/phone-background-desktop@2x.png") 0 0 / 186px 382px no-repeat;
      }
    }
  }
}

.advantages__item--mood .advantages__description {
  @media (min-width: $desktop) {
    padding: 0 25px;
  }
}

.advantages__item--changes .advantages__description {
  @media (min-width: $desktop) {
    padding: 0 30px;
  }
}

.advantages__item--friends .advantages__termin {
  @media (min-width: $desktop) {
    padding: 0 30px;
  }
}

.advantages__item--friends .advantages__description {
  @media (min-width: $desktop) {
    padding: 0 30px;
  }
}

.advantages__termin {
  margin: 0;
  margin-bottom: 11px;
  font-family: $font-primary;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;

  @media (min-width: $tablet) {
    text-align: left;
  }

  @media (min-width: $desktop) {
    margin-bottom: 23px;
    font-size: 30px;
    line-height: 30px;
    text-align: center;
  }
}

.advantages__description {
  margin: 0;
  padding: 0 21px;
  font-family: $font-primary;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;

  @media (min-width: $tablet) {
    padding: 0;
    text-align: left;
  }

  @media (min-width: $desktop) {
    font-size: 18px;
    line-height: 30px;
    text-align: center;
  }
}
