.main__contacts {
  @media (min-width: $tablet) {
    width: 620px;
    margin: 0 auto;
  }
}

.contacts {
  padding: 43px 0 34px;

  @media (min-width: $tablet) {
    padding-bottom: 22px;
  }
}

.contacts__wrapper {
  @media (min-width: $tablet) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 'phone email'
                         'address address';
    column-gap: 20px;
    row-gap: 22px;
  }
}

.contacts__container {
  margin: 0;
}

.contacts__container--phone {
  @media (min-width: $tablet) {
    grid-area: phone;
  }
}

.contacts__container--email {
  @media (min-width: $tablet) {
    grid-area: email;
  }
}

.contacts__container--address {
  @media (min-width: $tablet) {
    grid-area: address;
  }
}

.contacts__container .contacts__text {
  @media (min-width: $tablet) {
    margin-bottom: 5px;
  }
}

.contacts--red-text {
  color: #D22856;
}

.contacts__description {
  margin: 0;
  margin-bottom: 33px;
  font-family: Open Sans;
  font-size: 24px;
  font-weight: 300;
  line-height: 28.8px;
  color: #283645;
  text-align: center;

  @media (min-width: $tablet) {
    margin-bottom: 32px;
    padding: 0 40px;
    font-size: 40px;
    line-height: 54.47px;
  }
}

.contacts__text {
  display: block;
  font-family: Open Sans;
  font-size: 18px;
  font-weight: 700;
  line-height: 24.51px;
  color: #283645;
  text-align: center;
}

.contacts__phone {
  margin-bottom: 17px;
  display: block;
  font-family: Open Sans;
  font-size: 24px;
  font-weight: 300;
  line-height: 32.68px;
  text-align: center;
  text-decoration: none;
}

.contacts__email {
  margin-bottom: 22px;
  display: block;
  font-family: Open Sans;
  font-size: 24px;
  font-weight: 300;
  line-height: 32.68px;
  text-align: center;
  text-decoration: none;
}

.contacts__address {
  margin: 0;
  padding: 0 12px;
  display: block;
  font-family: Open Sans;
  font-size: 24px;
  font-weight: 300;
  line-height: 32.68px;
  text-align: center;
  text-decoration: none;
}
