.main__contacts {
  padding: 43px 0 33px;

  @media (min-width: $tablet) {
    width: 620px;
    margin: 0 auto;
    padding-bottom: 24px;
  }

  @media (min-width: $desktop) {
    width: 940px;
    padding: 58px 0 18px;
  }
}

.contacts__wrapper {
  @media (min-width: $tablet) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "phone email"
      "address address";
    column-gap: 20px;
    row-gap: 19px;
  }

  @media (min-width: $desktop) {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "phone address email";
  }
}

.contacts__container {
  margin: 0;
}

.contacts__container--phone {
  @media (min-width: $tablet) {
    grid-area: phone;
  }
}

.contacts__container--email {
  @media (min-width: $tablet) {
    grid-area: email;
  }
}

.contacts__container--address {
  @media (min-width: $tablet) {
    grid-area: address;
  }
}

.contacts__container .contacts__text {
  @media (min-width: $tablet) {
    margin-bottom: 5px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 22px;
  }
}

.contacts__description {
  margin: 0;
  margin-bottom: 33px;
  font-family: $font-primary;
  font-size: 24px;
  font-weight: 300;
  line-height: 28.8px;
  color: $prime-color-blue;
  text-align: center;

  @media (min-width: $tablet) {
    padding: 0 40px;
    font-size: 40px;
    line-height: 54.47px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 41px;
    padding: 0 110px;
    font-size: 50px;
    line-height: 68.09px;
  }
}

.contacts__text {
  display: block;
  font-family: $font-primary;
  font-size: 18px;
  font-weight: 700;
  line-height: 24.51px;
  color: $prime-color-blue;
  text-align: center;
}

.contacts__link {
  display: block;
  font-family: $font-primary;
  font-size: 24px;
  font-weight: 300;
  line-height: 32.68px;
  text-align: center;
  text-decoration: none;

  &:hover {
    color: $prime-color-blue;
    text-decoration: underline;
  }

  &:active {
    color: rgba($color: $prime-color-blue, $alpha: 0.3);
  }

  &--red-text {
    color: $prime-color-red;
  }
}

.contacts__phone {
  margin-bottom: 19px;
}

.contacts__email {
  margin-bottom: 22px;
}

.contacts__address {
  margin: 0;
  padding: 0 12px;
  display: block;
  font-family: $font-primary;
  font-size: 24px;
  font-weight: 300;
  line-height: 32.68px;
  text-align: center;
  text-decoration: none;

  &--red-text {
    color: $prime-color-red;
  }
}
