.main__effect {
  position: relative;
  width: 620px;
  margin: 0 auto;
  margin-bottom: 120px;

  @media (min-width: $tablet) {
    padding-top: 65px;
    margin-bottom: 123px;
  }

  @media (min-width: $desktop) {
    width: 100%;
    margin-bottom: 72px;
    padding-top: 65px;
    padding-bottom: 111px;
  }
}

.effect {
  display: none;

  @media (min-width: $tablet) {
    display: block;
  }
}

.effect--timer-background {
  &::before {
    content: "24";
    position: absolute;
    top: 80px;
    left: 18px;
    width: 202px;
    height: 202px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Open Sans;
    font-size: 96px;
    font-weight: 700;
    line-height: 163px;
    color: #D22856;
    box-shadow: 0px 0px 0 15px #D22856 inset;
  }

  &::after {
    content: "";
    position: absolute;
    top: 24px;
    left: 0px;
    width: 238px;
    height: 276px;
    background: url('../../../img/decorative/timer.svg') no-repeat;
    z-index: -1;
  }

  @media (min-width: $desktop) {
    &::before {
      top: 41px;
      left: calc(50vw - 454px);
      width: 252px;
      height: 252px;
      font-size: 120px;
      line-height: 163px;
    }

    &::after {
      content: "";
      position: absolute;
      top: -29px;
      left: calc(50vw - 477px);
      width: 298px;
      height: 345px;
      background: url('../../../img/decorative/timer-desktop.svg') no-repeat;
    }
  }
}

.effect--grey-background {
  @media (min-width: $desktop) {
    background-color: #F2F2F2;
    z-index: 0;
  }
}

.effect__content {
  margin-left: 310px;

  @media (min-width: $desktop) {
    width: 530px;
    margin: 0;
    margin-left: calc(50vw - 108px);
  }
}

.effect__heading {
  margin: 0;
  margin-bottom: 11px;
  font-family: Open Sans;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;

  &--black-text {
    color: $black;
  }

  @media (min-width: $desktop) {
    margin-bottom: 26px;
    line-height: 30px;

    br {
      display: none;
    }
  }
}

.effect__text {
  margin: 0;
  margin-bottom: 10px;
  font-family: Open Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;

  @media (min-width: $desktop) {
    margin-bottom: 30px;
    font-size: 18px;
    line-height: 30px;

    br {
      display: none;
    }
  }
}

.effect__link {
  border-bottom: 1px solid #D22856;
  font-family: Open Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-decoration: none;

  &:hover {
    color: #283645;
    border-bottom: 1px solid #283645;
  }

  &:active {
    color: rgba($color: #283645, $alpha: 0.3);
    border-bottom: 1px solid #283645;
  }

  &--red-text {
    color: #D22856;
  }

  @media (min-width: $desktop) {
    font-size: 18px;
    line-height: 30px;
  }
}
