.location {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 123px;
    margin: 0 auto;
    background: url('../../../img/decorative/triangle-background.svg') 50% -96px no-repeat;
  }

  @media (min-width: $tablet) {
    &::before {
      top: -1px;
      background: url('../../../img/decorative/triangle-background.svg') 50% 0/auto 68px no-repeat;
    }
  }

  @media (min-width: $desktop) {
    &::before {
      top: -18px;
      background: url('../../../img/decorative/triangle-background.svg') 50% 0/auto 123px no-repeat;
    }
  }
}

.location__map {
  width: 100%;
  height: 200px;
  display: block;

  @media (min-width: $tablet) {
    height: 371px;
  }

  @media (min-width: $desktop) {
    height: 502px;
  }
}
