.main__promo {
  @media (min-width: $tablet) {
    position: relative;
    min-height: 525px;
  }
}

.main-promo {
  &::before {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    min-height: 462px;
    background: $black url('../../../img/decorative/promo-index-mobile.jpg') 0 0px no-repeat;
    z-index: -1;
  }

  &::after {
    content: "";
    position: absolute;
    top: 176px;
    width: 100%;
    min-height: 286px;
    background: url('../../../img/decorative/holding-phone-mobile.png') 0 0 no-repeat,
    url('../../../img/decorative/phone-screen-mobile.jpg') 104px 33px no-repeat;
  }

  @media (min-width: $tablet) {
    &::before {
      top: -204px;
      min-height: 729px;
      background: $black url('../../../img/decorative/promo-index-tablet.jpg') 50% 0px/1200px 729px no-repeat;
    }

    &::after {
      top: -20px;
      min-height: 545px;
      background: url('../../../img/decorative/holding-phone-tablet.png') 0 0 no-repeat,
      url('../../../img/decorative/phone-screen-tablet.jpg') 372px 53px no-repeat;
      z-index: -1;
    }
  }
}

.main-promo__slogan {
  margin: 0;
  margin-bottom: 313px;
  padding: 0 10px;
  font-family: Open Sans;
  font-size: 24px;
  font-weight: 300;
  line-height: 28.8px;
  color: $white;
  text-align: center;

  @media (min-width: $tablet) {
    width: 300px;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-left: 20px;
    padding: 0 30px;
    font-size: 40px;
    line-height: 48px;
  }
}

.main-promo__available-platforms {
  padding: 28px 20px 31px;

  @media (min-width: $tablet) {
    width: 300px;
    margin-left: 20px;
    padding: 0;
  }
}
