.platforms {
  &--blue-background {
    background-color: #1D2631;

    @media (min-width: $tablet) {
      background-color: transparent;
    }
  }
}

.platforms__download-button {
  width: 280px;
  min-height: 55px;
  margin: 0 auto 29px;
  padding: 15.5px 36px;
  border: 3px solid #FFFFFF;
  border-radius: 29px;
  display: block;
  font-family: Open Sans;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  color: $white;
  text-align: center;
  text-decoration: none;

  &:hover {
    background-color: $white;
    color: #D22856;
  }

  &:active {
    background-color: $white;
    color: rgba($color: #D22856, $alpha: 0.3);
  }

  @media (min-width: $tablet) {
    width: 300px;
    margin-bottom: 46px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 67px;
    padding: 16.6px 0;
    font-size: 21px;
  }
}

.platforms__list {
  margin: 0 38px;
  margin-bottom: 23px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: baseline;
  flex-wrap: wrap;
  list-style-type: none;

  @media (min-width: $tablet) {
    margin-bottom: 33px;
    align-items: center;
  }

  @media (min-width: $desktop) {
    margin: 0;
    margin-bottom: 52px;
  }
}

.platforms__item {
  &:not(:last-child) {
    margin-right: 35px;
  }
}

.platforms__link {
  display: block;
}

.platforms__link--apple {
  width: 47px;
  height: 56px;
  background: url('../../../img/content/apple-logo.svg') center no-repeat;
}

.platforms__link--android {
  width: 43px;
  height: 47px;
  background: url('../../../img/content/android-logo.svg') center no-repeat;
}

.platforms__link--microsoft {
  width: 44px;
  height: 41px;
  background: url('../../../img/content/microsoft-logo.svg') center no-repeat;
}

.platforms__description {
  margin: 0;
  font-family: Open Sans;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  color: $white;
  text-align: center;

  @media (min-width: $tablet) {
    font-size: 18px;
  }
}
