.main__reviews {
  position: relative;
  margin-bottom: 55px;

  @media (min-width: $tablet) {
    width: 620px;
    margin: 0 auto 55px;
    padding-top: 0;
  }

  @media (min-width: $desktop) {
    width: 940px;
    margin: 0 auto 55px;
    padding-top: 114px;
  }
}

.reviews--quotes {
  @media (min-width: $desktop) {
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      width: 79px;
      height: 63px;
      margin: 0 auto;
      background: url("../img/decorative/quotes.svg") no-repeat;
    }
  }
}

.reviews__swipe-button {
  display: none;

  @media (min-width: $desktop) {
    position: absolute;
    top: 141px;
    width: 30px;
    height: 50px;
    padding: 0;
    border: none;
    background: url("../img/decorative/arrow.svg") no-repeat;
    display: block;
    opacity: 0.3;

    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.1;
    }

    &--next {
      top: 133px;
      right: 0;
      transform: rotate(180deg);
    }
  }
}

.reviews__list {
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
  list-style-type: none;

  @media (min-width: $tablet) {
    margin-bottom: 30px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 134px;
  }
}

.reviews__item {
  display: none;

  &--active {
    display: list-item;
  }

  @media (min-width: $tablet) {
    &--active {
      display: flex;
      flex-direction: column;
    }
  }

  @media (min-width: $desktop) {
    &--active {
      width: 690px;
      margin: 0 auto;
    }
  }
}

.reviews__author {
  display: block;
  margin: 0;
  margin-bottom: 13px;
  font-family: $font-primary;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-align: center;

  @media (min-width: $tablet) {
    margin: 0;
    order: 1;
    font-size: 20px;
  }

  @media (min-width: $desktop) {
    font-size: 24px;
  }
}

.reviews__text {
  margin: 0;
  padding: 0 20px;
  font-family: $font-primary;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
  color: $prime-color-blue;

  @media (min-width: $tablet) {
    margin-bottom: 35px;
    padding: 0;
    order: 0;
    font-size: 18px;
    line-height: 30px;
  }
}

.reviews__age-work {
  display: none;
  font-family: $font-primary;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;

  &--blue-text {
    color: $prime-color-blue;
  }

  @media (min-width: $tablet) {
    display: block;
  }

  @media (min-width: $desktop) {
    font-size: 18px;
  }
}
