@charset "UTF-8";
@font-face {
  font-family: "Open Sans";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: local("Open Sans"), local("Open Sans Regular"), url("../../fonts/OpenSans-Regular.woff2") format(woff2), url("../../fonts/OpenSans-Regular.woff") format(woff);
}
@font-face {
  font-family: "Open Sans";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: local("Open Sans"), local("Open Sans Bold"), url("../../fonts/OpenSans-Bold.woff2") format(woff2), url("../../fonts/OpenSans-Bold.woff") format(woff);
}
@font-face {
  font-family: "Open Sans";
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: local("Open Sans"), local("Open Sans Light"), url("../../fonts/OpenSans-Light.woff2") format(woff2), url("../../fonts/OpenSans-Light.woff") format(woff);
}
*, *::before, *::after {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

.page-body__header {
  position: relative;
  margin-bottom: 18px;
}
@media (min-width: 660px) {
  .page-body__header {
    margin-bottom: 74px;
  }
}

.header {
  background-color: rgba(0, 0, 0, 0.3);
}
.header--menu-opened {
  background-color: #283645;
}

.header__wrapper {
  width: 280px;
  min-height: 73px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}
@media (min-width: 660px) {
  .header__wrapper {
    width: 620px;
    min-height: 110px;
  }
}

.header__logo {
  margin-right: auto;
}

.header__button {
  position: relative;
  width: 50px;
  height: 24px;
  border: none;
  background-color: transparent;
}
.header__button::before {
  content: "";
  position: absolute;
  top: 11px;
  right: 0;
  width: 50px;
  height: 4px;
  background-color: #ffffff;
  box-shadow: 0 -10px 0 0 #ffffff, 0 10px 0 0 #ffffff;
}

.header__button--active::before {
  top: 10px;
  right: -3px;
  width: 29px;
  height: 3px;
  transform: rotate(45deg);
  box-shadow: none;
}
.header__button--active::after {
  content: "";
  position: absolute;
  top: 10px;
  right: -3px;
  width: 29px;
  height: 3px;
  background-color: white;
  transform: rotate(-45deg);
  box-shadow: none;
}

.nav {
  display: none;
}
.nav--opened {
  display: block;
}

.nav__list {
  position: absolute;
  top: 73px;
  right: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;
  z-index: 1;
}

.nav__item {
  background-color: #283645;
  text-align: center;
  box-shadow: 0px -1px 0px 0px #000000, 0px 1px 0px 0px rgba(255, 255, 255, 0.1490196078) inset;
}

.nav__link {
  min-height: 63px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Open Sans;
  font-size: 18px;
  font-weight: 700;
  line-height: 32px;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
}

@media (min-width: 660px) {
  .main__promo {
    position: relative;
    min-height: 545px;
  }
}

.main-promo::before {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  min-height: 462px;
  background: #000000 url("../../../img/decorative/city-background-mobile.jpg") 0 0px no-repeat;
  z-index: -1;
}
.main-promo::after {
  content: "";
  position: absolute;
  top: 176px;
  width: 100%;
  min-height: 286px;
  background: url("../../../img/decorative/holding-phone-mobile.png") 0 0 no-repeat, url("../../../img/decorative/phone-screen-mobile.jpg") 104px 33px no-repeat;
}
@media (min-width: 660px) {
  .main-promo::before {
    top: -204px;
    min-height: 729px;
    background: #000000 url("../../../img/decorative/promo-index-tablet.jpg") 50% 0px/1200px 729px no-repeat;
  }
  .main-promo::after {
    top: -20px;
    min-height: 545px;
    background: url("../../../img/decorative/holding-phone-tablet.png") 0 0 no-repeat, url("../../../img/decorative/phone-screen-tablet.jpg") 372px 53px no-repeat;
    z-index: -1;
  }
}

.main-promo__slogan {
  margin: 0;
  margin-bottom: 314px;
  padding: 0 10px;
  font-family: Open Sans;
  font-size: 24px;
  font-weight: 300;
  line-height: 28.8px;
  color: #ffffff;
  text-align: center;
}
@media (min-width: 660px) {
  .main-promo__slogan {
    width: 300px;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-left: 20px;
    padding: 0 30px;
    font-size: 40px;
    line-height: 48px;
  }
}

.main-promo__available-platforms {
  padding: 28px 20px 31px;
}
@media (min-width: 660px) {
  .main-promo__available-platforms {
    width: 300px;
    margin-left: 20px;
    padding: 0;
  }
}

.platforms--blue-background {
  background-color: #1D2631;
}
@media (min-width: 660px) {
  .platforms--blue-background {
    background-color: transparent;
  }
}

.platforms__download-button {
  margin-bottom: 32px;
  padding: 15.5px 36px;
  border: 3px solid #FFFFFF;
  border-radius: 29px;
  display: block;
  font-family: Open Sans;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
}
@media (min-width: 660px) {
  .platforms__download-button {
    margin-bottom: 46px;
  }
}

.platforms__list {
  margin: 0 38px;
  margin-bottom: 17px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: baseline;
  flex-wrap: wrap;
  list-style-type: none;
}
@media (min-width: 660px) {
  .platforms__list {
    margin-bottom: 30px;
  }
}

.platforms__item:not(:last-child) {
  margin-right: 35px;
}

.platforms__description {
  margin: 0;
  font-family: Open Sans;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  color: #ffffff;
  text-align: center;
}
@media (min-width: 660px) {
  .platforms__description {
    font-size: 18px;
  }
}

.main__information {
  position: relative;
  padding-top: 41px;
}
@media (min-width: 660px) {
  .main__information {
    min-height: 706px;
    padding-top: 27px;
  }
}

.information--skew-background::before {
  content: "";
  position: absolute;
  top: -66px;
  left: 0;
  width: 100vw;
  height: 820px;
  background: #F2F2F2;
  transform: skewY(-6.2deg);
  z-index: -1;
}
@media (min-width: 660px) {
  .information--skew-background::before {
    content: "";
    top: 245px;
    height: 433px;
    background: #F2F2F2;
    transform-origin: top;
    transform: skewY(-4.8deg);
  }
}

.information--phone-decorative::after {
  content: "";
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  width: 157px;
  height: 277px;
  margin: 0 auto;
  background: url("../../../img/decorative/screen-friends-mobile.jpg") 8px 35px no-repeat, url("../../../img/decorative/phone-background-mobile.png") 0 0 no-repeat;
}
@media (min-width: 660px) {
  .information--phone-decorative::after {
    top: 224px;
    left: 20px;
    margin: 0;
    width: 268px;
    height: 481px;
    background: url("../../../img/decorative/screen-friends-tablet.jpg") 13px 59px no-repeat, url("../../../img/decorative/phone-background-tablet.png") 0 0 no-repeat;
  }
}

.information__slogan {
  margin: 0;
  margin-bottom: 115px;
  font-family: Open Sans;
  font-size: 24px;
  font-weight: 300;
  line-height: 28.8px;
  text-align: center;
}
@media (min-width: 660px) {
  .information__slogan {
    margin-bottom: 105px;
    font-size: 40px;
    line-height: 54.47px;
  }
}

.information__text {
  margin-top: 30px;
  display: block;
}
@media (min-width: 660px) {
  .information__text {
    margin: 0;
    padding: 0 40px;
  }
}

.information__advantages {
  padding-bottom: 318px;
}

.advantages {
  margin: 0;
  padding: 0;
  background-color: #F2F2F2;
  display: flex;
  flex-direction: column;
  list-style-type: none;
}
@media (min-width: 660px) {
  .advantages {
    width: 310px;
    margin-left: 50%;
  }
}

.advantages__item:not(:last-of-type) {
  margin-bottom: 31px;
}
@media (min-width: 660px) {
  .advantages__item:not(:last-of-type) {
    margin-bottom: 35px;
  }
}

.advantages__termin {
  margin: 0;
  margin-bottom: 11px;
  font-family: Open Sans;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
}
@media (min-width: 660px) {
  .advantages__termin {
    text-align: left;
  }
}

.advantages__description {
  margin: 0;
  padding: 0 21px;
  font-family: Open Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
}
@media (min-width: 660px) {
  .advantages__description {
    padding: 0;
    text-align: left;
  }
}

.main__effect {
  position: relative;
  width: 620px;
  min-height: 330px;
  margin: 0 auto;
  margin-bottom: 100px;
  padding-top: 94px;
}

.effect {
  display: none;
}
@media (min-width: 660px) {
  .effect {
    display: block;
  }
}

.effect--timer-background::before {
  content: "24";
  position: absolute;
  top: 109px;
  left: 18px;
  width: 202px;
  height: 202px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Open Sans;
  font-size: 96px;
  font-weight: 700;
  line-height: 163px;
  color: #D22856;
  box-shadow: 0px 0px 0 15px #D22856 inset;
}
.effect--timer-background::after {
  content: "";
  position: absolute;
  top: 52px;
  left: 0px;
  width: 238px;
  height: 276px;
  background: url("../../../img/decorative/timer.svg") no-repeat;
  z-index: -1;
}

.effect__content {
  margin-left: 310px;
}

.effect__heading {
  margin: 0;
  margin-bottom: 11px;
  font-family: Open Sans;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
}
.effect__heading--black-text {
  color: #000000;
}

.effect__text {
  margin: 0;
  margin-bottom: 10px;
  font-family: Open Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.effect__link {
  font-family: Open Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}
.effect__link--red-text {
  color: #D22856;
}

.main__reviews {
  margin-bottom: 55px;
  padding-top: 41px;
}
@media (min-width: 660px) {
  .main__reviews {
    padding-top: 0;
  }
}

.reviews__list {
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
  list-style-type: none;
}
@media (min-width: 660px) {
  .reviews__list {
    margin-bottom: 30px;
  }
}

.reviews__item {
  display: none;
}
.reviews__item--active {
  display: list-item;
}
@media (min-width: 660px) {
  .reviews__item--active {
    display: flex;
    flex-direction: column;
  }
}

.reviews__author {
  display: block;
  margin: 0;
  margin-bottom: 13px;
  font-family: Open Sans;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-align: center;
}
@media (min-width: 660px) {
  .reviews__author {
    margin: 0;
    order: 1;
    font-size: 20px;
  }
}

.reviews__text {
  margin: 0;
  padding: 0 20px;
  font-family: Open Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
  color: #283645;
}
@media (min-width: 660px) {
  .reviews__text {
    margin-bottom: 35px;
    order: 0;
    font-size: 18px;
    line-height: 30px;
  }
}

.reviews__age-work {
  display: none;
  font-family: Open Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
}
.reviews__age-work--blue-text {
  color: #283645;
}
@media (min-width: 660px) {
  .reviews__age-work {
    display: block;
  }
}

.slider {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: center;
}

.slider--mobile {
  display: flex;
}
@media (min-width: 660px) {
  .slider--mobile {
    display: none;
  }
}

.slider__item:not(:last-child) {
  margin-right: 19px;
}

.slider__item--active .slider__button {
  background-color: #ffffff;
  box-shadow: 0 0 0 3px #283645;
}

.slider__button {
  width: 6px;
  height: 6px;
  padding: 0;
  border: none;
  border-radius: 50%;
  background-color: rgba(40, 54, 69, 0.3);
}

.main__prices {
  position: relative;
  padding-top: 80px;
  padding-bottom: 44px;
}
@media (min-width: 660px) {
  .main__prices {
    padding: 54px 0 69px;
  }
}

.prices--grey {
  background-color: #F2F2F2;
}

.prices--background::before {
  content: "";
  position: absolute;
  top: -10px;
  left: 0;
  width: 100%;
  height: 100%;
  background: #F2F2F2;
  transform: skewY(-3.5deg);
  z-index: -1;
}
@media (min-width: 660px) {
  .prices--background::before {
    top: -22px;
    transform: skewY(-3.5deg);
  }
}

.prices__wrapper {
  width: 100%;
  margin-bottom: 33px;
  display: flex;
  overflow-x: scroll;
  position: relative;
}
.prices__wrapper::-webkit-scrollbar {
  display: none;
}

.prices__wrapper--mobile {
  display: block;
}
@media (min-width: 660px) {
  .prices__wrapper--mobile {
    display: none;
  }
}

.prices__list {
  margin: 0;
  padding: 0;
  display: flex;
  list-style-type: none;
}

.price-item {
  width: 280px;
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
}

.price-item--best-seller {
  position: relative;
}
.price-item--best-seller::before {
  content: "";
  position: absolute;
  top: 2px;
  left: -2px;
  width: 74px;
  height: 74px;
  background: url("../../../img/decorative/hit-ribbon.svg") no-repeat;
}
.price-item--best-seller::after {
  content: "ХИТ";
  position: absolute;
  top: 17px;
  left: 14px;
  width: auto;
  height: auto;
  font-family: Open Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  color: #ffffff;
  transform: rotate(-45deg);
}

.price-item__wrapper {
  padding-top: 12px;
  border: 2px solid #ffffff;
  border-bottom: none;
  background-color: #283645;
  overflow: hidden;
}

.price-item__properties {
  margin: 0;
}
.price-item__properties--text-uppercase {
  text-transform: uppercase;
}

.price-item__name {
  margin: 0;
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  text-align: center;
}
.price-item__name--white-text {
  color: #ffffff;
}

.price-item__tag {
  margin: 0;
  margin-bottom: 26px;
  font-family: Open Sans;
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
  text-align: center;
}
.price-item__tag--white-text {
  color: #ffffff;
}

.price-item__feature {
  padding: 15px 20px;
  border: 1px solid #E5E5E5;
  border-bottom: 2px solid #E5E5E5;
  border-top: none;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
}
.price-item__feature--white-background {
  background-color: #ffffff;
}

.price-item__is-included {
  position: relative;
}

.price-item__is-included--yes::before {
  content: "";
  position: absolute;
  width: 31px;
  height: 21px;
  top: -43px;
  right: 20px;
  background: url("../../../img/decorative/tick-green.svg") no-repeat;
}

.price-item__is-included--no::before {
  content: "";
  position: absolute;
  width: 27px;
  height: 27px;
  top: -47px;
  right: 21px;
  background: url("../../../img/decorative/x-figure.svg") no-repeat;
}

.prices__table {
  width: 620px;
  margin: 0 auto;
}

.price-table--tablet {
  display: none;
}
@media (min-width: 660px) {
  .price-table--tablet {
    display: block;
  }
}

.price-table {
  border-collapse: collapse;
}

.price-table__rate {
  width: 152px;
  min-height: 75px;
  padding: 13px 35px 7px;
}
.price-table__rate--blue-background {
  background-color: #283645;
}

.price-table__rate-name {
  margin: 0;
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  text-align: center;
}
.price-table__rate-name--white-text {
  color: #ffffff;
}

.price-table__price {
  margin: 0;
  font-family: Open Sans;
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
  text-align: center;
}
.price-table__price--white-text {
  color: #ffffff;
}

.price-table__feature {
  width: 153px;
  min-height: 45px;
  padding: 7.5px 15px;
  border: 2px solid #E5E5E5;
  font-family: Open Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
}
.price-table__feature--white-background {
  background-color: #ffffff;
}
.price-table__feature--blue-text {
  color: #283645;
}

.price-table__is-included {
  position: relative;
  border: 2px solid #E5E5E5;
}
.price-table__is-included--white-background {
  background-color: #ffffff;
}

.price-table__is-included--yes {
  background: #ffffff url("../../../img/decorative/tick-green.svg") center no-repeat;
}

.price-table__is-included--no {
  background: #ffffff url("../../../img/decorative/x-figure.svg") center no-repeat;
}

@media (min-width: 660px) {
  .main__contacts {
    width: 620px;
    margin: 0 auto;
  }
}

.contacts {
  padding: 43px 0 34px;
}
@media (min-width: 660px) {
  .contacts {
    padding-bottom: 22px;
  }
}

@media (min-width: 660px) {
  .contacts__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "phone email" "address address";
    -moz-column-gap: 20px;
         column-gap: 20px;
    row-gap: 22px;
  }
}

.contacts__container {
  margin: 0;
}

@media (min-width: 660px) {
  .contacts__container--phone {
    grid-area: phone;
  }
}

@media (min-width: 660px) {
  .contacts__container--email {
    grid-area: email;
  }
}

@media (min-width: 660px) {
  .contacts__container--address {
    grid-area: address;
  }
}

@media (min-width: 660px) {
  .contacts__container--address .contacts__text {
    margin-bottom: 4px;
  }
}

.contacts--red-text {
  color: #D22856;
}

.contacts__description {
  margin: 0;
  margin-bottom: 35px;
  font-family: Open Sans;
  font-size: 24px;
  font-weight: 300;
  line-height: 28.8px;
  color: #283645;
  text-align: center;
}
@media (min-width: 660px) {
  .contacts__description {
    padding: 0 40px;
    font-size: 40px;
    line-height: 54.47px;
  }
}

.contacts__text {
  display: block;
  font-family: Open Sans;
  font-size: 18px;
  font-weight: 700;
  line-height: 24.51px;
  color: #283645;
  text-align: center;
}

.contacts__phone {
  margin-bottom: 17px;
  display: block;
  font-family: Open Sans;
  font-size: 24px;
  font-weight: 300;
  line-height: 32.68px;
  text-align: center;
  text-decoration: none;
}

.contacts__email {
  margin-bottom: 22px;
  display: block;
  font-family: Open Sans;
  font-size: 24px;
  font-weight: 300;
  line-height: 32.68px;
  text-align: center;
  text-decoration: none;
}

.contacts__address {
  margin: 0;
  padding: 0 12px;
  display: block;
  font-family: Open Sans;
  font-size: 24px;
  font-weight: 300;
  line-height: 32.68px;
  text-align: center;
  text-decoration: none;
}

.location {
  position: relative;
}
.location::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 123px;
  margin: 0 auto;
  background: url("../../../img/decorative/triangle-background.svg") 50% -96px no-repeat;
}
@media (min-width: 660px) {
  .location::before {
    top: -1px;
    background: url("../../../img/decorative/triangle-background.svg") 50% 0/auto 68px no-repeat;
  }
}

.location__map {
  width: 100%;
  height: 200px;
  display: block;
}
@media (min-width: 660px) {
  .location__map {
    height: 374px;
  }
}

.catalog__promo {
  min-height: 171px;
  margin-bottom: 44px;
  padding-top: 29px;
}

.form-page__promo {
  min-height: 171px;
  padding-top: 29px;
  margin-bottom: 44px;
}

.promo::before {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  min-height: 237px;
  background: #000000 url("../../../img/decorative/promo-tablet.png") 50% 0px/660px 237px no-repeat;
  background-size: auto;
  z-index: -1;
}

.promo__heading {
  margin: 0;
  font-family: Open Sans;
  font-size: 24px;
  font-weight: 300;
  line-height: 32.68px;
  text-align: center;
}
.promo__heading--white-text {
  color: #ffffff;
}
.promo__heading--catalog {
  padding: 0 5px;
}
.promo__heading--form {
  padding: 0 10px;
}

.catalog__photos {
  margin-bottom: 45px;
}

.photos__text {
  margin: 0;
  margin-bottom: 50px;
  padding: 0 35px;
  font-family: Open Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
}

.photos__panorama {
  margin-bottom: 20px;
}

.panorama__image-wrapper {
  position: relative;
  width: 320px;
  margin: 0 auto;
}
.panorama__image-wrapper::before {
  content: "Панорама дня";
  position: absolute;
  top: 0;
  right: 20px;
  width: 140px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #D22856;
  font-family: Open Sans;
  font-size: 12px;
  font-weight: 700;
  line-height: 24px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
}

.panorama__image {
  display: block;
}

.panorama__comment {
  width: 280px;
  margin: 0 auto;
  padding: 17.5px 17px;
}

.gallery__comment {
  width: 280px;
  margin: 0 auto;
  padding: 17.5px 17px;
}

.comment {
  background-color: #F2F2F2;
}

.comment__author {
  margin: 0;
  font-family: Open Sans;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
}
.comment__author--blue-text {
  color: #283645;
}

.comment__published-time {
  font-family: Open Sans;
  font-size: 12px;
  font-weight: 300;
  line-height: 24px;
  text-transform: uppercase;
}
.comment__published-time--blue-text {
  color: #283645;
}

.comment__text {
  margin: 0;
  margin-bottom: 10px;
  font-family: Open Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.comment__button {
  padding-left: 32px;
  border: none;
  background: url("../../../img/decorative/heart.svg") left center no-repeat;
}

.comment__likes {
  font-family: Open Sans;
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
}
.comment__likes--red-text {
  color: #D22856;
}

.gallery {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.photos__gallery {
  width: 280px;
  margin: 0 auto;
}

.gallery__image {
  display: block;
}

.gallery__item:not(:last-child) {
  margin-bottom: 20px;
}

.upload__text {
  margin: 0;
  margin-bottom: 42px;
  font-family: Open Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
}
.upload__text--blue-text {
  color: #283645;
}

.upload__upload-menu {
  width: 100%;
  margin: 0 auto;
  padding: 20px 0 41px;
}

.upload-menu--grey {
  background-color: #F2F2F2;
}

.upload-menu__uploading-image {
  margin: 0 auto 41px;
  display: block;
}

.upload-menu__wrapper--mobile {
  margin-bottom: 74px;
}

.upload-menu__filters {
  margin: 0 69px 35px 57px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}

.upload-menu__filter:not(:last-child) {
  margin-right: 35px;
}

.upload-menu__filter-button {
  padding: 0;
  border: none;
}

.upload-menu__effect-range {
  width: 240px;
  height: 2px;
  margin: 0 auto;
  background-color: #283645;
  display: block;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
}

.upload-menu__effect-range::-webkit-slider-thumb {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: #ffffff;
  border: 2px solid #D22856;
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
}

.upload-menu__effect-range::-moz-slider-thumb {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: #ffffff;
  border: 2px solid #D22856;
  cursor: pointer;
}

.upload__button {
  width: 280px;
  min-height: 55px;
  margin: 0 auto 12px;
  padding: 0;
  border: 3px solid #D22856;
  border-radius: 30px;
  display: block;
  font-family: Open Sans;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  text-align: center;
}
.upload__button--red-text {
  color: #D22856;
}

.upload__cancel-upload {
  width: 280px;
  min-height: 55px;
  margin: 0 auto;
  padding: 0;
  border: 3px solid rgba(40, 54, 69, 0.1);
  border-radius: 30px;
  display: block;
  font-family: Open Sans;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  text-align: center;
}
.upload__cancel-upload--light-text {
  color: rgba(40, 54, 69, 0.1);
}

.form-page__heading {
  margin: 0 20px 35px;
  font-family: Open Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
}

.form__submit-button {
  width: 280px;
  min-height: 63px;
  margin: 0 auto 34px;
  border: none;
  background-color: #2AAB6D;
  display: block;
  font-family: Open Sans;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
}
.form__submit-button--white-text {
  color: #ffffff;
}
.form__submit-button--uppercase {
  text-transform: uppercase;
}

.form__info {
  margin: 0;
  margin-bottom: 16px;
  font-family: Open Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
}
.form__info--uppercase {
  text-transform: uppercase;
}

.form__symbol--red {
  color: #D22856;
}

.fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.form__fieldset {
  width: 280px;
  margin: 0 auto;
}

.fieldset--grey {
  position: relative;
  background-color: #F2F2F2;
}

.fieldset__legend {
  padding: 0;
  font-family: Open Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
}
.fieldset__legend--red-text {
  color: #D22856;
}
.fieldset__legend--uppercase {
  text-transform: uppercase;
}
.fieldset__legend--inside {
  position: absolute;
  top: 39px;
  padding: 0 35px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.fieldset__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.fieldset__item {
  display: flex;
  flex-direction: column;
}

.fieldset__label {
  font-family: Open Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
}
.fieldset__label--red-text {
  color: #D22856;
}
.fieldset__label--uppercase {
  text-transform: uppercase;
}

.fieldset__text-value--blue-text {
  color: #283645;
}

.fieldset__input {
  width: 100%;
  min-height: 63px;
  padding-left: 20px;
  border: 2px solid #E5E5E5;
  font-family: Open Sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}

.fieldset--fullname {
  margin-bottom: 42px;
}

.fieldset--fullname .fieldset__label {
  margin-left: 23px;
  margin-bottom: 5px;
}

.fieldset--fullname .fieldset__item:not(:last-child) {
  margin-bottom: 17px;
}

.fieldset--achievements {
  width: 100%;
  padding: 42px 0 38px;
}

.fieldset--achievements .fieldset__label {
  display: flex;
}

.fieldset--achievements .fieldset__list {
  width: 280px;
  margin: 75px auto 0;
}

.fieldset--achievements .fieldset__item:not(:last-child) {
  margin-bottom: 43px;
}

.fieldset--achievements .fieldset__input {
  position: absolute;
  width: 0;
  height: 0;
  min-height: 0;
  margin: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
}

.fieldset--achievements .fieldset__text-value {
  margin: 0;
  font-family: Open Sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}

.fieldset--achievements .fieldset__checkbox {
  position: relative;
  top: -4px;
  height: 39px;
  width: 39px;
  margin-right: 20px;
  border: 2px solid #E5E5E5;
  background: #FFFFFF;
  display: block;
}

.fieldset--achievements .fieldset__input:checked ~ .fieldset__checkbox {
  background: #FFFFFF url("../../../../img/decorative/tick.svg") center no-repeat;
}

.fieldset--contacts {
  padding: 32px 0 42px;
}

.fieldset--contacts .fieldset__item:not(:last-child) {
  margin-bottom: 17px;
}

.fieldset--contacts .fieldset__label {
  margin-left: 23px;
  margin-bottom: 5px;
}

.fieldset--platform {
  width: 100%;
  padding: 42px 0 34px;
}

.fieldset--platform .fieldset__list {
  width: 280px;
  margin: 75px auto 0;
}

.fieldset--platform .fieldset__item:not(:last-child) {
  margin-bottom: 33px;
}

.fieldset--platform .fieldset__label {
  display: flex;
}

.fieldset--platform .fieldset__input {
  position: absolute;
  width: 0;
  height: 0;
  min-height: 0;
  margin: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
}

.fieldset--platform .fieldset__text-value {
  margin: 0;
  font-family: Open Sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}

.fieldset--platform .fieldset__radio {
  position: relative;
  top: -8px;
  height: 41px;
  width: 41px;
  margin-right: 29px;
  border: 2px solid #E5E5E5;
  border-radius: 50%;
  background: #FFFFFF;
  display: block;
}

.fieldset--platform .fieldset__input:checked ~ .fieldset__radio {
  box-shadow: 0 0 0 11px #ffffff inset, 0 0 0 20px #D22856 inset;
}

.fieldset--emotions {
  width: 280px;
  margin: 38px auto;
}

.fieldset--emotions .fieldset__legend {
  margin-bottom: 16px;
}

.fieldset--emotions .fieldset__input {
  padding-top: 14px;
  min-height: 201px;
}

.page-body__footer {
  margin-top: auto;
  padding: 40px 0;
}
@media (min-width: 660px) {
  .page-body__footer {
    width: 620px;
    margin: 0 auto;
    padding: 19px 0;
  }
}

@media (min-width: 660px) {
  .footer {
    display: flex;
    align-items: center;
  }
}

.footer__logo {
  margin: 0 auto 41px;
  display: block;
  text-align: center;
}
@media (min-width: 660px) {
  .footer__logo {
    margin: 0;
  }
}

.socials {
  margin: 0;
  margin-bottom: 41px;
  padding: 0;
  display: flex;
  justify-content: center;
  list-style-type: none;
}

.socials__item:not(:last-child) {
  margin-right: 14px;
}

.socials__link {
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  box-shadow: 0 0 0 3px rgba(40, 54, 69, 0.1);
}

.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-decoration: none;
}

.copyright__text {
  margin-right: 15px;
  font-family: Open Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}
.copyright__text--blue {
  color: #283645;
}
/*# sourceMappingURL=styles.css.map */