.fieldset--emotions {
  width: 280px;
  margin: 38px auto;
}

.fieldset--emotions .fieldset__legend {
  margin-bottom: 16px;
}

.fieldset--emotions .fieldset__input {
  padding-top: 14px;
  min-height: 201px;
}
