.fieldset--fullname {
  margin-bottom: 42px;

  @media (min-width: $tablet) {
    margin-bottom: 56px;
    grid-row: 1/2;
  }

  @media (min-width: $desktop) {
    width: 100%;
    margin-bottom: 0;
    grid-column: 1/2;
  }
}

.fieldset--fullname .fieldset__label {
  margin-left: 23px;
  margin-bottom: 5px;

  @media (min-width: $tablet) {
    margin: 0;
    margin-right: 20px;
  }
}

.fieldset--fullname .fieldset__item {
  &:not(:last-child) {
    margin-bottom: 17px;
  }

  @media (min-width: $tablet) {
    display: flex;
    flex-direction: row;
    align-items: center;

    &:not(:last-child) {
      margin-bottom: 53px;
    }
  }
}
