.main__prices {
  position: relative;
  padding-top: 80px;
  padding-bottom: 46px;

  @media (min-width: $tablet) {
    padding: 54px 0 68px;
  }

  @media (min-width: $desktop) {
    padding: 58px 0 95px;
  }
}

.prices {
  &--grey {
    background-color: #f2f2f2;
  }
}

.prices--background {
  &::before {
    content: "";
    position: absolute;
    top: -20px;
    left: 0;
    width: 100%;
    height: 90%;
    background: #f2f2f2;
    transform: skewY(-3.5deg);
    z-index: -1;
  }

  @media (min-width: $tablet) {
    &::before {
      top: -37px;
      transform: skewY(-3.5deg);
    }
  }

  @media (min-width: $desktop) {
    &::before {
      top: -59px;
      transform: skewY(-4.7deg);
    }
  }
}

.prices__wrapper {
  width: 100%;
  margin-bottom: 33px;
  display: flex;
  overflow-x: scroll;
  position: relative;

  &::-webkit-scrollbar {
    display: none;
  }
}

.prices__wrapper--mobile {
  display: block;

  @media (min-width: $tablet) {
    display: none;
  }
}

.prices__list {
  margin: 0;
  padding: 0;
  display: flex;
  list-style-type: none;
}
