@font-face {
  font-family: 'Open Sans';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: local('Open Sans'),
       local('Open Sans Regular'),
       url('../../fonts/OpenSans-Regular.woff2') format(woff2),
       url('../../fonts/OpenSans-Regular.woff') format(woff),
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: local('Open Sans'),
       local('Open Sans Bold'),
       url('../../fonts/OpenSans-Bold.woff2') format(woff2),
       url('../../fonts/OpenSans-Bold.woff') format(woff),
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: local('Open Sans'),
       local('Open Sans Light'),
       url('../../fonts/OpenSans-Light.woff2') format(woff2),
       url('../../fonts/OpenSans-Light.woff') format(woff),
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  margin: 0;
}
