.catalog__promo {
  min-height: 171px;
  margin-bottom: 37px;
  padding-top: 22px;

  @media (min-width: $tablet) {
    min-height: 330px;
    margin-bottom: 91px;
    padding-top: 66px;
  }
}

.promo__heading--catalog {
  padding: 0 5px;
}
