.catalog__promo {
  margin-bottom: 44px;
  padding-top: 22px;

  @media (min-width: $tablet) {
    margin-bottom: 91px;
    padding-top: 66px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 91px;
    padding-top: 58px;
  }
}
