.catalog__promo {
  margin-bottom: 37px;
  padding-top: 22px;

  @media (min-width: $tablet) {
    margin-bottom: 91px;
    padding-top: 66px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 91px;
    padding-top: 58px;
  }
}

.promo__heading--catalog {
  padding: 0 5px;

  br {
    display: none;
  }

  @media (min-width: $desktop) {
    br {
      display: inline;
    }
  }
}
