.form-page__promo {
  padding-top: 23px;
  margin-bottom: 44px;

  @media (min-width: $tablet) {
    padding-top: 66px;
    margin-bottom: 91px;
  }

  @media (min-width: $desktop) {
    padding-top: 59px;
  }
}

.promo__heading--form {
  padding: 0 10px;

  @media (min-width: $tablet) {
    padding: 0 15px;
  }

  @media (min-width: $desktop) {
    padding: 0 225px;
  }
}
