.promo {
  position: relative;
  min-height: 164px;
  background-color: $black;

  &::before {
    content: "";
    position: absolute;
    top: -73px;
    width: 100%;
    height: 237px;
    background-image: url("../img/decorative/promo-mobile.jpg");
    background-position: 50% 0;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 0;
  }

  @media (min-resolution: 2dppx) {
    &::before {
      background-image: url("../img/decorative/promo-mobile@2x.jpg");
    }
  }

  @media (min-width: $tablet) {
    min-height: 330px;

    &::before {
      top: -110px;
      height: 440px;
      background-image: url("../img/decorative/promo-tablet.jpg");
    }

    @media (min-resolution: 2dppx) {
      &::before {
        background-image: url("../img/decorative/promo-tablet@2x.jpg");
      }
    }
  }

  @media (min-width: $desktop) {
    min-height: 284px;

    &::before {
      height: 394px;
      background-image: url("../img/decorative/promo-desktop.jpg");
    }

    @media (min-resolution: 2dppx) {
      &::before {
        background-image: url("../img/decorative/promo-desktop@2x.jpg");
      }
    }
  }
}

.promo__heading {
  position: relative;
  margin: 0;
  font-family: $font-primary;
  font-size: 24px;
  font-weight: 300;
  line-height: 32.68px;
  text-align: center;

  &--white-text {
    color: $white;
  }

  @media (min-width: $tablet) {
    font-size: 50px;
    line-height: 68.09px;
  }
}
